body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: white;
}
.fixed-container {
	max-width: 1030px;
	margin: auto;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}
.ul-header-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}
.nav-item {
	margin-left: 15px;
	margin-right: 15px;
	list-style-type: none;
}
.nav-item > a {
	text-decoration: none;
	color: #bbbbbb;
	font-size: 13px;
}
.nav-item > a:hover {
	color: #99c50a;
}
.login-button {
	color: white;
	min-width: 100px;
	min-height: 40px;
	background-color: #99c50a;
	outline: none;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-right: 5px;
}
.logo {
	margin-left: 5px;
	z-index: 50;
}
.header-burger {
	display: none;
}
.main {
	padding-top: 47px;
}

.top-section {
	height: 570px;
	max-width: 100%;
	background-image: url(../img/overlay.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
.top-section-text {
	font-size: 49px;
	font-weight: 600;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
.top-section-text-small {
	font-size: 40px;
	text-align: center;
}

.become-a-member-button {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 30px 40px;
	max-width: 255px;
	color: white;
	background-color: #99c50a;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 19px;
}
.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;
}
.stonks {
	margin-top: 100px;
	margin-bottom: 25px;
}
.description-title {
	color: #515151;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 0;
}
.description-text {
	text-align: center;
	color: #838383;
	font-size: 19px;
	padding: 10px;
}
.tab-items {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border-bottom: 1px solid #99c50a;
}
.tab-item {
	padding: 25px 1px;
	color: #656565;
	width: 33.3333%;
	text-align: center;
}
.tabs-block {
	position: relative;
	padding: 5px;
	display: none;
	justify-content: space-between;
}
.tabs-block:target {
	display: flex;
	justify-content: space-between;
}
.tab-title {
	color: #99c50a;
}
.tab-text {
	display: flex;
	flex-direction: column;
	padding-top: 0;
	max-width: 80%;
}
.tab-picture {
	margin-top: 30px;
	padding: 5px;
	margin-left: 5px;
	max-width: 170px;
	max-height: 102px;
}
.tabs-block::before {
	content: "";
	height: 73px;
	position: absolute;
	top: -73px;
	background-color: #99c50a;
	width: 33.3333%;
	z-index: -1;
}
.tabs-block:nth-child(1) {
	display: flex;
}
.tabs-block:nth-child(1)::before {
	left: 0;
}
.tabs-block:nth-child(2)::before {
	left: 33.3333%;
}
.tabs-block:nth-child(3)::before {
	right: 0;
}
.tab-item:hover {
	background-color: #99c50a4d;
}
.tab-section {
	margin-bottom: 50px;
}
.find-section {
	display: flex;
	justify-content: center;
	color: #646768;
	margin-bottom: 85px;
}
.left-column {
	background-color: #e2f8ff;
	width: 100%;
	justify-content: flex-end;
}
.right-column {
	background-color: #f2f8e0;
	width: 100%;
	justify-content: flex-start;
}
.find-column {
	display: flex;
	padding: 40px;
}
.find-picture {
	margin: 40px;
}
.column-text {
	width: 260px;
}
.find-button-left {
	background-color: #26a6d1;
	width: 190px;
	color: white;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	border: none;
	padding: 20px 15px;
	border-radius: 8px;
}
.find-button-right {
	background-color: #add136;
	width: 190px;
	color: white;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	border: none;
	padding: 20px 15px;
	border-radius: 8px;
}

.features-title {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.features-title-button {
	margin: 10px;
	height: 50px;
	width: 180px;
	background-color: transparent;
	color: #838383;
	border: 1px solid #838383;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}
.features-title-button:hover {
	background-color: #838383;
	color: white;
	transition: 0.5s;
}
.features-text {
	max-width: 675px;
	color: #515151;
	margin: 10px;
}
.card {
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	color: #838383;
	margin: 15px;
	max-width: 520px;
	transition: 0.2s;
	border-radius: 5px;
}
.card:hover {
	transform: scale(1.02);
	transition: 0.2s;
	-webkit-box-shadow: 0px 0px 24px 3px rgba(161, 161, 161, 1);
	-moz-box-shadow: 0px 0px 24px 3px rgba(161, 161, 161, 1);
	box-shadow: 0px 0px 24px 3px rgba(161, 161, 161, 1);
}
.card img {
	border-radius: 5px 5px 0 0;
}
.card h3 {
	color: #575757;
}
.card-text {
	padding: 30px;
}
.card-progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress-bar {
	width: 80%;
	height: 15px;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 10px;
}
.progress-bar::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 50px;
}
.progress-bar::-webkit-progress-value {
	background-color: #add136;
	border-radius: 50px;
}
.card-progress-bar {
	display: flex;
	flex-direction: column;
}
.progress-bar-description {
	width: 80%;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d6d6d6;
}
.card-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: end;
}
.card-bottom p {
	padding-right: 30px;
	cursor: pointer;
}
.comments-section {
	margin-top: 50px;
}
.comments-title {
	text-align: center;
}
.comments-title h3 {
	color: #add136;
	font-size: 40px;
}

.comments-title p {
	color: #575757;
	padding: 10px;
	text-align: center;
}
.comments-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.comment {
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin: 10px;
	min-height: 335px;
	background-color: #f9f9f9;
	border-radius: 10px;
}
.comment img {
	object-fit: cover;
}
.comment-text {
	padding: 20px;
	padding-top: 0;
	color: #575757;
}
.comment-text h3 {
	color: #add136;
}
@media (max-width: 576px) {
	.tabs-block {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.find-column {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-right: 0;
		padding-left: 0;
	}
	.tab-item {
		font-size: 11px;
	}
	.features-text {
		text-align: center;
	}
	.comment img {
		object-fit: contain;
	}

	.comment {
		flex-direction: column;
	}
}
@media (max-width: 890px) {
	body.lock {
		overflow: hidden;
	}

	.header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 50;
	}
	.header-burger span {
		background-color: #99c50a;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}
	.header-burger::before,
	.header-burger::after {
		content: "";
		background-color: #99c50a;
		position: absolute;
		width: 100%;
		height: 2px;
		transition: 0.2s;
		left: 0;
	}
	.header-burger::before {
		top: 0;
	}
	.header-burger::after {
		bottom: 0;
	}
	.header-burger.active::before {
		transform: rotate(45deg);
		top: 9px;
		transition: 0.2s;
	}
	.header-burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
		transition: 0.2s;
	}
	.header-burger.active span {
		transform: scale(0);
	}
	.header-menu {
		position: fixed;
		top: -150%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		padding-top: 70px;
		transition: 0.5s;
		overflow: auto;
	}
	.header-menu.active {
		top: 0;
	}
	.ul-header-nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-item {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.nav-item a {
		font-size: 20px;
	}
	.login-button {
		margin-top: 15px;
		width: 150px;
		height: 60px;
		border-radius: 50px;
		font-size: 20px;
		margin-bottom: 80px;
	}
	.find-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.left-column {
		justify-content: center;
	}
	.right-column {
		justify-content: center;
	}
	.comments-container {
		flex-direction: column;
	}
	.comment {
		display: flex;
		justify-content: space-between;
		width: 95%;

		margin: 30px;
	}
}
